

/* General styles  */

body {
    margin: 0;
    padding: 0;
    line-height:1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    font-weight:normal;
    background-color: #003366;
}

#wrapper {
    width: 80vw;
    margin: auto;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #662700;
}


/* -------
    Header
---------- */

#main_header {
    padding: 1em 0;
    color: #003366;
    background-image: linear-gradient(to right, #003366, #fff, #003366);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


/* Nav */

#main_nav {
    padding: 1em 0;
    color: #003366;
    background-image: linear-gradient(to right, #003366, #fff, #003366);
}
#main_nav ul {
    text-align: center;
}

#main_nav li {
    display: inline-block;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}



/* Main Section  */

#main_section_home {
    padding: 2em 7em;
    color: #fff;
}




/* Footer */

#main_footer {
    text-align: center;
    color: #003366;
    background-image: linear-gradient(to right, #003366, #fff, #003366);
}



