* {
    color: #444;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #ddd;
}


#nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 25px;
}
#nav > div {
    display: grid;
    justify-content: left;
    border: purple 1px solid;
    width: 100px;
}